<template>

	<nav-menu router.bind='router'></nav-menu>

	<div class="container" show.bind="router.isNavigating">
	<i class="fa fa-spinner fa-spin"></i>
	</div>

	<router-view></router-view>

	</tr>
	</table>
	</div>

</template>