<template>
<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">
				Movies!
				</a>
			</div>
		
		<ul class="nav navbar-nav">
			<li repeat.for="row of router.navigation"
				class="${row.isActive ? 'active' : ''}">
				<a href.bind="row.href">${row.title}</a>
			</li>
		</ul>
		</div>
	</nav>
</template>