<template>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<h3>Editing ${movie.title}</h3>
			</div>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" >
				<div class="form-group">
					<label class="col-sm-2  control-label">
						Title
					</label>
					<div class="col-sm-10">
						

					        <input type="text" class="form-control" " placeholder="Enter title" value.bind="movie.title" required/>



					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2  control-label">
						Release Date
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Enter release year" value.bind="movie.releaseYear"/>
						<span class="help-text">
					</div>
				</div>
				<button class="btn btn-default btn-md pull-right" click.trigger="save()">Save</button>
			</form>
		</div>
	</div>
</div>
</template>