<template>

	<div class="container">
		<table class="table">
			<tr>
				<th>Title</th>
				<th>Year</th>
				<th></th>
			</tr>
			<tr repeat.for="movie of movies">
				<td>${movie.title}</td>
				<td>${movie.releaseYear}</td>
				<td>
					<a route-href="route:details; params.bind:{id:movie.id}" class="btn btn-default btn-sm">
						Details
					</a>
					<a route-href="route:edit; params.bind:{id:movie.id}" class="btn btn-default btn-sm">
						Edit
					</a>
				</td>
			</tr>
		</table>
	</div>


</template>